<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/main.css"/>
        <script src="https://kit.fontawesome.com/8b62767162.js" crossorigin="anonymous"></script>
        <script src="js/jquery-3.4.1.min.js"></script>
        <script>
            var XHTTP;
            $(document).ready(function(){
                XHTTP = new XMLHttpRequest();
                setListSelector();
            });

            function setListSelector(){
                $("#list_select_pane ul").css('display', 'none');
                
                $('#list_now').on('click', (et)=>{
                    $("#list_select_pane ul").slideToggle();
                });
                
                $('.list_selector').on('click', (et)=>{
                    let text = et.target.innerHTML;
                    $('#list_now').text(text);
                });
            }
        </script>
    </head>
    <body>
        <div class="navbar">
                <div><a href="/"><i class="far fa-calendar-plus"></i></a></div>
                <div><a href="/completed-list"><i class="far fa-calendar-check"></i></a></div>
                <div><i class="far fa-comments"></i></div>
        </div>
        <div class="contents" >
            <div id="list_select_pane">
                <p id="list_now">work</p>
                <ul>
                    <% for(int i = list_names.length; i > 0; i++){ %>
                        <li class="list_selector"><%= list_names[i] %></li>
                    <% } %>
                </ul>
            </div>
            
        </div>
    </body>
</html>