<!DOCTYPE html/>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <style>
            .login-box {
                width: 400px;
                min-width: 300px;
                text-align: center;
                margin-top: 10px;
                margin-left: auto;
                margin-right: auto;

                font-size: 30px;
            }
            .login-box h1{
                height: 95px;
            }
            .text-input {
                margin-top: 20px;
            }
            .text-input input{
                background: none;
                border-color: black;
                width: 280px;
                height: 30px;

            }
            #submit-button{
                width: 200px;
                background: none;
                margin-top: 30px;

            }

        </style>
    </head>
    <body>
        <div class="login-box">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div class="text-input">
                    <input name="group_name" type="text" placeholder="group name"/>
                </div>
                <div class="text-input">
                    <input name="user_id" type="text" placeholder="User Id"/>
                </div>
                <div class="text-input">
                    <input name="user_password" type="password" placeholder="Password"/>
                </div>
                <input id="submit-button" type="submit" value="login"/>
            </form>
        </div>
    </body>
</html>