<!DOCTYPE html/>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/login.css"/>
    </head>
    <body>
        <div class="login-box">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div class="text-input">
                    <input name="userId" type="text" placeholder="User Id"/>
                </div>
                <div class="text-input">
                    <input name="user_password" type="password" placeholder="Password"/>
                </div>
                <input id="submit-button" type="submit" value="login"/>
            </form>
        </div>
    </body>
</html>