<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- https://blog.truthlabs.com/how-to-make-complex-icons-with-only-css-e135e6dc2c5e-->
        <!--https://stackoverflow.com/questions/16989585/css-3-slide-in-from-left-transition-->
        <style>
            .navbar{
                width: 100%;
                text-align: center;
            }
            #menu_button{
                float: left;
                background-color: black;
                width: 30px;
                height: 30px;
            }

            #menu_button:hover .menu{
                left:0;
                transition: 1s;
            }
            .menu{
                transition: 1s;
                position: absolute;
                background-color: black;
                width: 400px;
                left: -400px;

                -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
            }

            @-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
        </style>

    </head>
    <body>
       <div class="navbar">
           <div id="menu_button"></div>
           <p id="list_name"><%= lists[0].list_name %></p>
       </div>
       <div class="menu">

       </div>
    </body>
</html>