<!DOCTYPE html>
        <!-- https://blog.truthlabs.com/how-to-make-complex-icons-with-only-css-e135e6dc2c5e-->
        <!--https://stackoverflow.com/questions/16989585/css-3-slide-in-from-left-transition-->
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="css/menu.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
        <script>
            const GROUP_NAME = '<%= group_name %>';
        </script>
        <script src="js/bin/data.js"></script>
        <style>
            .navbar{
                width: 100%;
                text-align: center;
            }
            #menu_button{
                float: left;
                background-color: black;
                width: 30px;
                height: 30px;
                position: absolute;
                z-index: 2;
            }
            #menu_container h1{
                color: pink;
            }
        </style>

    </head>
    <body>
       <div class="navbar">
           <div id="menu_button"></div>
           <p id="list_name"><%= lists[0].list_name %></p>
       </div>
       <div id="menu_container"></div>
       <div id="list_container"></div>
       
        
       <script src="js/bin/menu_controller.js"></script>
       <script src="js/bin/list_controller.js"></script>
       <script src="js/bin/main_page.js"></script>
    </body>
</html>