<%- contentFor("contents") %>
<link rel="stylesheet" href="css/to_do_list.css"/>
<script src="js/add-new-task.js"></script>
<div>
    <p id="add_new_task">+ 새로운 목표 만들기</p>
</div>

<div id="popup_add_new_task">
<p>hello</p>
</div>
<% for(let i=0; list != null && i<list.length; i++){ %>
    <div class="item">
        <input type="checkbox" id="complete" />
        <h1><%= list[i].TITLE %></h1>
    </div>
<% } %>