@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans KR', sans-serif;
}