@import url("global.css");
.main {
    display: grid;
    grid-template-columns: auto;
}
.navbar {
    padding-top: 3px;
    padding-bottom: 2px;
    background-color: #fff9;
    width: 600px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    
    display: grid;
    padding-bottom: 5px;
    grid-template-columns: auto auto auto;
}
.navbar div{
    width: 50px;
    margin: auto;
    display: grid;
    
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    
    border-bottom: solid 2px #fff;
}
.navbar div:hover {
    border-bottom: solid 2px #000;;
}
.navbar i {
    margin: auto;
}
.contents {
    width: 400px;
    background-color: #fff9;
    border-radius: 5px;
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    
    display: grid;
}
/*
.post i{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 15px;
    float: left;
}

.post i:hover {
    
}*/