#navigation li:nth-child(2) {
    border-bottom: 3px solid rgba(171, 236, 133, 0.788);
}

#add_new_task {
    background-color: rgba( 0, 0, 0, 0);
    padding-top: 1px;
    padding-bottom: 1pxd;
    margin-bottom: 1px;

    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#contents-of-new-task form{
    display: grid;
    grid-template-columns: auto;
}
#popup_add_new_task {
    width: 100%;
    height: 100%;
    
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.425);
    position: absolute;
    display: none;
}

.new-task-contents {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto;
}

.task {
    margin-top: 0.1%;
    display: grid;
    grid-template-columns: auto;

    border-top: solid #fff;

    padding-top: 2px;
    padding-bottom: 2px;
}

.task-detail {
    display: grid;
    grid-template-columns: auto;
}
.task p {
    margin-left: auto;
    margin-right: auto;
}
